/Library
/Temp
/Android
/.vs
/obj
/AssetBundles
/Windows
/Assets/StreamingAssets/AssetBundles
/HotFix/bin
/HotFix/obj
/HotFix/.vs
/Assets/StreamingAssets/Hotfix.pdb.meta
/Assets/StreamingAssets/Hotfix.dll
/Assets/StreamingAssets/Hotfix.dll.mdb
/Assets/StreamingAssets/Hotfix.dll.mdb.meta
/Assets/StreamingAssets/Hotfix.dll.meta
/Assets/StreamingAssets/Hotfix.pdb
/Assets/StreamingAssets
/*.apk
/*.csproj
/*.sln
/Logs
.idea
/*.user
ServerData
Assets/ThirdEditor/UGUI-Editor/Res
Res.meta
